html,body{
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(97,175,131);
    background: linear-gradient(345deg, rgba(97,175,131,1) 24%, rgba(9,70,121,1) 51%, rgba(0,212,255,1) 86%);    
}

.contenedor{
    width: 360px;
    margin: 0 auto;
    
}

header, .footer {
    background: rgb(97,175,131);
    background: linear-gradient(141deg, rgba(97,175,131,1) 24%, rgba(9,70,121,1) 51%, rgba(0,212,255,1) 86%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.img{
    height: 100px;
    width: 100px;
}   

#entrada{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50px;
    background-color: antiquewhite;
}

#agregarToDo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    border-radius: 10px;
    background-color: greenyellow;
}

.to-dos{
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

#button{
    background-color: #73B06F;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
