body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: rgb(255,173,8);
background: radial-gradient(circle, rgba(255,173,8,1) 0%, rgba(115,176,111,1) 35%, rgba(235,163,109,1) 100%);
}

.contenedor{
    text-align: center;
    background-color: #FFAD08;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 250px;
    font-weight: bold;
}

.cuadro{
    padding: 20px;
    max-width: 00px;
    width: 100%;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

button{
    background-color: #73B06F;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover{
    background-color: gray;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}