body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(49deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

header, .footer {
    background: rgb(34,193,195);
    background: linear-gradient(214deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.img{
    height: 100px;
    width: 100px;
}