body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background: rgb(97,175,131);
background: linear-gradient(345deg, rgba(97,175,131,1) 24%, rgba(9,70,121,1) 51%, rgba(0,212,255,1) 86%);
}

header, .footer {
    background: rgb(97,175,131);
background: linear-gradient(141deg, rgba(97,175,131,1) 24%, rgba(9,70,121,1) 51%, rgba(0,212,255,1) 86%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.img{
    height: 100px;
    width: 100px;
}

.destacado {
  color: gray; 
}



h2{
    text-align: center;
    margin-top: 0;
}

.contenedor{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.lista-contactos{
    list-style-type: none;
    padding: 0;
}

.contacto{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.lista-opciones{
    list-style-type: none;
    padding: 0;
}

.lista-opciones li{
    margin-bottom: 10px;
}

.lista-opciones button{
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: rgb(97,175,162);
background: linear-gradient(97deg, rgba(97,175,162,1) 19%, rgba(9,121,86,1) 51%, rgba(0,212,255,1) 86%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button{
    height:30px;
    width:50px;
    background-color:floralwhite;
    border-radius:10%;
     }
     